<% if !user_signed_in? %>
	  <div>
	    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-small" %></p>
	  </div>
<% end %>


<div class="row">
	  <% @movies.each do |movie| %>
	    <div class="col-sm-6 col-md-3">
	        <%= link_to movie.title, movie %>  
	    </div>
	  <% end %>
</div>
